################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CqrsWithEntityFramework/.vs/CqrsWithEntityFramework/FileContentIndex/028c1ded-7847-4df5-911b-ee46bca6d265.vsidx
